* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  line-height: 1.4;
  width: 100%;
}

.wrapper {
  background-color: white;
  margin: clamp(1rem, 3vw, 2rem);
  padding: clamp(2rem, 6vw, 4rem);
  position: relative;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 4vw, 4rem);
    padding-bottom: 30px;
  }
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(1.1rem, 2vw, 2rem);
    font-weight: 400;
    margin-bottom: 30px;
  }
  a.github-btn,
  a.youtube-btn {
    border: 2px solid black;
    color: black;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    margin: 10px 20px 10px 0;
    padding: 20px;
    text-decoration: none;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

section.highlighted {
  margin: 60px 0;
  h2 {
    font-size: clamp(1.2rem, 2vw, 2rem);
    padding: 30px 0;
    font-family: 'Work Sans', sans-serif;
  }
  .cards {
    display: grid;
    font-family: 'Work Sans', sans-serif;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    .card {
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: clamp(12rem, 20vh, 18rem);
      padding: 20px;
      transition: border 0.25s ease-in-out;
      p,
      a {
        color: black;
        font-size: clamp(1.1rem, 2vw, 1.4rem);
        font-weight: 600;
      }
    }
  }
}

footer {
  font-family: 'Work Sans', sans-serif;
  font-size: clamp(1.2rem, 1.2vw, 2rem);
  p,
  a {
    color: black;
  }
}
